*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(18, 17, 29);
}
.display{
    font-size: 10rem;
    margin-bottom: 7rem;
    overflow: hidden;
    font-family:monospace;
    color: blue;
    text-shadow: 0 2px 3px gold;
    cursor: pointer;
}
.btn-container{
    padding: 1.5rem;
    margin-top: -4rem;
}
button{
    margin: 0 0.8rem;
    padding: 0.5rem 3rem;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: blue;
    border: none;
    box-shadow: 0 0 6px 2px #00aeff;
    border-radius: 10px;
    cursor: pointer;
    text-shadow: 0 0 3px black;
}
button:hover{
    background-color: black;
    box-shadow: 0 0 6px 3px blue;
    transform: scale(1.05);
    color: #00aeff;
}
button:active{
    transform: scale(0.93);
}
.display:hover{
    transform: scale(1.1);
    text-shadow: 0 2px 5px gold;
}